{% extends "almanet/base.html" %}
{% load i18n almanet_tags %}
{% block head_title %} {{ _("Service List Page") }} {% endblock %}
{% block content %}
<ul>
	{% for service in object_list %}
	    <li>
	    	{{ service.title }} 
	    	{% if user.is_authenticated and user.get_owned_company %}
	    		{% connect_disconnect_button user service %}
	    	{% endif %}
	    	<a href="{% url 'service_update' pk=service.id %}">Update</a>  
	   		<a href="{% url 'service_detail' pk=service.id %}">Detail</a>  
            <a href="{% url 'service_delete' pk=service.id %}">Delete</a>

	    	{% comment %}
		    	{% if user.is_authenticated and user.get_owned_company %}
		    		{% connect_disconnect_button user service %}
		    	{% endif %}
	    	{% endcomment %}

	    </li>
    {% empty %}
    	<li>You have no services connected.</li>
	{% endfor %}
</ul>

<a href="{% url 'service_create'%}">Create a Service</a>

	{% comment %}
	<a href="{% subdomain_url 'service_create' %}">Create a service</a>
	{% endcomment %}

{% endblock %}
