{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("User List Page") }} {% endblock %}
{% block content %}
<h1> {{ contact.first_name }} {{ contact.last_name }} </h1>
	<li> Contact type - {{ contact.get_tp }}</li>
	<li> repr name - {{ contact.vcard.fn }}</li>
	<li> Email - {{ contact.vcard.email_set.first }}</li>
	<a href="{% url 'contact_update' pk=contact.id %}">Update</a>
	<a href="{% url 'contact_delete' pk=contact.id %}">Delete</a>
	<p><a href="{% url 'contact_export' pk=contact.id format='vcf' %}">Export vCard</a></p>
{% endblock %}
