build
venv
*.pyc
*.pth
*.save
*.DS_store
*.mo
.coverage
api_docs/*
src/static/js/bundle.js
src/static/css/app.min.css
src/temp_dir/*
src/htmlcov/*
src/check_db.log
pids
logs
conf/supervisord.conf
alma
bundle/vundle
*.pid
supervisord.conf
*.ini
