Django==1.6.5
Fabric==1.9.0
South==1.0
ecdsa==0.11
paramiko==1.14.0
pycrypto==2.6.1
six==1.3.0
argparse==1.2.1
selenium==2.42.1
wsgiref==0.1.2
pylibmc
-e git+git@github.com:Rustem/nose2django.git@hotfix/djver-incompat#egg=nose2django
nose2==0.4.7
nose2-cov==1.0a4
