{% load almanet_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/app.css">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <script src="{{STATIC_URL}}/js/scripts.js"></script>
</head>
<body>
{% comment %}
{{user}}
{% if user.is_authenticated %}

<a id="logout" href="{% subdomain_url 'user_logout' %}">Logout</a>
{% else %}
<a href="{% subdomain_url 'user_login' %}">Login</a>
or
<a href="{% subdomain_url 'user_registration' %}">Register</a>
{% endif %}
<br>
<a href="{% subdomain_url 'contact_list' %}">Contacts</a>
<a href="{% subdomain_url 'sales_cycle_list' %}">Sales Cycles</a>
<a href="{% subdomain_url 'activity_list' %}">Activities</a>
<a href="{% subdomain_url 'activity_feedback_list' %}">Activity Feedbacks</a>
<a href="{% subdomain_url 'vcard_list' %}">Vcards</a>
{% endcomment %}
{% block content %}
{% endblock %}

{% block js_content %}
<script src="{{STATIC_URL}}/js/scripts.min.js"></script>
{% endblock %}
</body>
</html>
