{% extends 'layout.base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css %}
<link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block content %}
<nav class="body-header nav">
    <div class="lineOfLinks">
      <a class="lineOfLinks-link nav-link" href="#">
        {{ _('contacts') }}
      </a><a class="lineOfLinks-link nav-link" href="#">
        {{ _('feed') }}
      </a>

      <div class="nav-aside">
        <a class="btn" href="#">{{ _('add contact') }}</a>
        <a href="">
          <figure class="userpic"></figure>
        </a>
      </div>

    </div>
  </nav>
<div class="body-container">
    {% block crm_body %}{% endblock %}
</div>
{% endblock %}

{% block js_content %}
<script src="{% static 'js/scripts.min.js' %}"></script>
{% endblock %}
