<!--DOCTYPE html -->
<html>
<head>
    <!-- this code between <header> ... </header> -->
    <link rel="stylesheet" href="flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="flat-ui/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="common-files/css/animations.css">
    <!-- this code directly before </body> -->
    <script src="common-files/js/jquery-1.10.2.min.js"></script>
    <script src="flat-ui/js/bootstrap.min.js"></script>
    <script src="common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="common-files/js/modernizr.custom.js"></script>
    <script src="common-files/js/page-transitions.js"></script>
    <script src="common-files/js/easing.min.js"></script>
    <script src="common-files/js/jquery.svg.js"></script>
    <script src="common-files/js/jquery.svganim.js"></script>
    <script src="common-files/js/jquery.parallax.min.js"></script>
    <script src="common-files/js/startup-kit.js"></script>

    <!-- header -->
    <link rel="stylesheet" href="ui-kit/ui-kit-header/css/style.css">
    <!-- content -->
    <link rel="stylesheet" href="ui-kit/ui-kit-content/css/style.css">
    <!-- blog -->
    <link rel="stylesheet" href="ui-kit/ui-kit-blog/css/style.css">
    <!-- contacts -->
    <link rel="stylesheet" href="ui-kit/ui-kit-contacts/css/style.css">
    <!-- crew -->
    <link rel="stylesheet" href="ui-kit/ui-kit-crew/css/style.css">
    <!-- price -->
    <link rel="stylesheet" href="ui-kit/ui-kit-price/css/style.css">
    <!-- projects -->
    <link rel="stylesheet" href="ui-kit/ui-kit-projects/css/style.css">
    <!-- footer -->
    <link rel="stylesheet" href="ui-kit/ui-kit-footer/css/style.css">
</head>
<body>
    <header class="header-11">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="#"><img src="common-files/img/logo2.png" width="160" height="160" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">COMPANY</a></li>
                            <li><a href="#">PORTFOLIO</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                        <form class="navbar-form pull-left">
                            <a class="btn btn-info" href="#">SIGN IN</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>
    <section class="price-3">
        <div class="container">
            <div class="plans">
                <div class="plan">
                    <div class="title">
                    <div class="img"><img src="common-files/icons/retina-ready-s@2x.png" width="117" height="104" alt=""></div>
                        Стартовый план
                    </div>
                    <div class="price">50$/month</div>
                    <div class="description">
                        100 Контактов<br>
                        <b>unlimited</b> data<br>
                        <b>unlimited</b> users<br>
                        first 10 day free
                    </div>
                    <a class="btn btn-primary" href="registration.html">Выбрать план</a>
                </div>
                <div class="plan plan-2">
                    <div class="title">
                    <div class="img"><img src="common-files/icons/rocket@2x.png" width="101" height="101" alt=""></div>
                        Средний бизнес
                    </div>
                    <div class="price">39$/month</div>
                    <div class="description">
                        5,000 Контактов<br>
                        <b>unlimited</b> data<br>
                        <b>unlimited</b> users<br>
                        first 30 day free
                    </div>
                    <a class="btn btn-primary" href="registration.html">Выбрать план</a>
                </div>
                <div class="plan">
                    <div class="title">
                    <div class="img"><img src="common-files/icons/magic-wand@2x.png" width="100" height="100" alt=""></div>
                        Крупный бизнес
                    </div>
                    <div class="price">59$/month</div>
                    <div class="description">
                        20,000 Контактов<br>
                        <b>unlimited</b> data<br>
                        <b>unlimited</b> users<br>
                        first 100 day free
                    </div>
                    <a class="btn btn-primary" href="registration.html">Выбрать план</a>
                </div>
            </div>
        </div>
        <!--/.container-->
    </section>

    <section class="content-18">
        <div class="container">
            <div id="c-18_myCarousel" class="carousel slide" data-interval="600000">
                <div class="controls">
                    <a class="carousel-control left disabled" href="#" data-slide="prev"> </a>
                    <a class="carousel-control right" href="#c-18_myCarousel" data-slide="next"> </a>
                </div>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="quote-text">
                            Colored, stylish icons can easily be modified and used in a wide variety of projects
                        </div>
                        <div class="quote-author">@stSilent, DesignModo.com</div>
                    </div>
                    <div class="item">
                        <div class="quote-text">
                            Colored, stylish icons can easily be modified and used in a wide variety of projects
                        </div>
                        <div class="quote-author">@stSilent, DesignModo.com</div>
                    </div>
                    <div class="item">
                        <div class="quote-text">
                            Colored, stylish icons can easily be modified and used in a wide variety of projects
                        </div>
                        <div class="quote-author">@stSilent, DesignModo.com</div>
                    </div>
                </div>
            </div>
            <div class="row quotes">
                <div class="col-sm-3">
                    <h6>@mc</h6>
                    Easy to change and easy to create new elements with color.
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>@madbyte</h6>
                    Awesome Kit. It’s more easiest way to make my startup. Thanks!
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <h6>@stSilent</h6>
                    Create new elements with color swatches. Wow!
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div><a class="brand" href="#">Startup</a></div>
                </div>
                <nav>
                    <div class="col-sm-2">
                        <h6>About</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6>Work</h6>
                        <ul>
                            <li><a href="#">Our Portfolio</a></li>
                            <li><a href="#">Latest Work</a></li>
                            <li><a href="#">Brands</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6>Stuff</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Advertise</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col-sm-3">
                    <h6>Subscribe</h6>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                                <span class="fui-arrow-right"> </span>
                            </button>
                        </span>
                    </div>
                    <div class="social-btns">
                        <a href="#">
                            <div class="fui-facebook"></div>
                            <div class="fui-facebook"></div>
                        </a>
                        <a href="#">
                            <div class="fui-twitter"></div>
                            <div class="fui-twitter"></div>
                        </a>
                        <a href="#">
                            <div class="fui-vimeo"></div>
                            <div class="fui-vimeo"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
