<!--DOCTYPE html -->
<html>
<head>
    <!-- this code between <header> ... </header> -->
    <link rel="stylesheet" href="flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="flat-ui/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="common-files/css/animations.css">
    <!-- this code directly before </body> -->
    <script src="common-files/js/jquery-1.10.2.min.js"></script>
    <script src="flat-ui/js/bootstrap.min.js"></script>
    <script src="common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="common-files/js/modernizr.custom.js"></script>
    <script src="common-files/js/page-transitions.js"></script>
    <script src="common-files/js/easing.min.js"></script>
    <script src="common-files/js/jquery.svg.js"></script>
    <script src="common-files/js/jquery.svganim.js"></script>
    <script src="common-files/js/jquery.parallax.min.js"></script>
    <script src="common-files/js/startup-kit.js"></script>

    <!-- header -->
    <link rel="stylesheet" href="ui-kit/ui-kit-header/css/style.css">
    <!-- content -->
    <link rel="stylesheet" href="ui-kit/ui-kit-content/css/style.css">
    <!-- blog -->
    <link rel="stylesheet" href="ui-kit/ui-kit-blog/css/style.css">
    <!-- contacts -->
    <link rel="stylesheet" href="ui-kit/ui-kit-contacts/css/style.css">
    <!-- crew -->
    <link rel="stylesheet" href="ui-kit/ui-kit-crew/css/style.css">
    <!-- price -->
    <link rel="stylesheet" href="ui-kit/ui-kit-price/css/style.css">
    <!-- projects -->
    <link rel="stylesheet" href="ui-kit/ui-kit-projects/css/style.css">
    <!-- footer -->
    <link rel="stylesheet" href="ui-kit/ui-kit-footer/css/style.css">
</head>
<body>
    <header class="header-11">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="#"><img src="common-files/img/logo2.png" width="160" height="160" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">COMPANY</a></li>
                            <li><a href="#">PORTFOLIO</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                        <form class="navbar-form pull-left">
                            <a class="btn btn-info" href="#">SIGN IN</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>
    <section class="contacts-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Вы почти у цели. <br> Осталось заполнить всего несколько полей.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <label class="h6">Имя</label>
                        <input type="text" class="form-control">
                        <label class="h6">Компания</label>
                        <input type="text" class="form-control">
                      <label class="h6">Поддомен</label>
                      <input type="text" class="form-control">
                      <label class="h6">Пароль</label>
                      <input type="password" class="form-control">

                      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                  </form>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="additional">
                        <h6>Need Help?</h6>
                        <p>Don’t hestiate to ask us something. Email us directly <a href="#">info@almasales.com</a> or call us at <b>1-347-567-8670</b>. You can checkout our <a href="#">FAQ</a> and <a href="#">Help</a> page to get more information about our products.</p>
                    </div>
                    <div class="additional">
                        <h6>FAQ</h6>
                        <p>As a Harvard professor, he was one of the first to explore the relationship between chemical equilibrium and the reaction rate of chemical processes.</p>
                    </div>
                    <div class="phone">
                        <big>347 567 78 90</big>
                        AVAILABLE AT 12PM - 18PM
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div><a class="brand" href="#">Startup</a></div>
                </div>
                <nav>
                    <div class="col-sm-2">
                        <h6>About</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6>Work</h6>
                        <ul>
                            <li><a href="#">Our Portfolio</a></li>
                            <li><a href="#">Latest Work</a></li>
                            <li><a href="#">Brands</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6>Stuff</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Advertise</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col-sm-3">
                    <h6>Subscribe</h6>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                                <span class="fui-arrow-right"> </span>
                            </button>
                        </span>
                    </div>
                    <div class="social-btns">
                        <a href="#">
                            <div class="fui-facebook"></div>
                            <div class="fui-facebook"></div>
                        </a>
                        <a href="#">
                            <div class="fui-twitter"></div>
                            <div class="fui-twitter"></div>
                        </a>
                        <a href="#">
                            <div class="fui-vimeo"></div>
                            <div class="fui-vimeo"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
