{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("Activity Feedback List Page") }} {% endblock %}
{% block content %}

	<h1> Activities Feedback List </h1>
	<a href="{% url 'activity_feedback_create' %}"> Create an Activity Feedback </a>
	<ul>{% for a in activity_feedbacks %}
	    <li> {{ a.feedback }} - {{ a.status }} - {{ a.value }}
	    	<a href="{% url 'activity_feedback_update' pk=a.id %}">Update</a>  
	   		 <a href="{% url 'activity_feedback_detail' pk=a.id %}">Detail</a>  
             <a href="{% url 'activity_feedback_delete' pk=a.id %}">Delete</a>
             {% comment %}
             <a href="{% url 'activity_feedback_add_mention' pk=a.id %}">Mention</a>
             {% endcomment %}
	    
	    </li>
	{% endfor %}</ul>

{% endblock %}