{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("User List Page") }} {% endblock %}
{% block content %}
<h1> Sales Cycle List </h1>
	<a href="{% url 'sales_cycle_create' %}"> Create a Sales Cycle </a>
	<ul>{% for g in sales_cycles %}
	    <li> {{ g.contact }}
	   		 <a href="{% url 'sales_cycle_update' pk=g.id %}">Update</a>  
	   		 <a href="{% url 'sales_cycle_detail' pk=g.id %}">Detail</a>  
             <a href="{% url 'sales_cycle_delete' pk=g.id %}">Delete</a> 
             <a href="{% url 'sales_cycle_add_mention' pk=g.id %}">Mention</a> 

	    </li>
	{% endfor %}</ul>
	<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
