{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<title>Соглашение</title>
		<link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />
	    <link rel="stylesheet" href="{% static 'css/app.min.css' %}" media="all">
    </head>
    <body style='overflow:scroll;'>
    	<a href="{% url 'user_login' %}">На Главную</a>
		<div class='agreement-container' style='margin: 0 20%;'>
			<h1 style='text-align:center; font-weight:bold;'>Соглашение о порядке предоставления услуг.</h1>
			<h2 style='font-weight:bold;'>1. Общие положения</h2>
			<p>
				1.1. Настоящее Соглашение определяет порядок предоставления Оператором 
				услуг аренды программного обеспечения (интерактивные сервисы) Пользователю 
				по модели SaaS (SaaS — Software as a Service, или Программное обеспечение как 
				услуга).
			</p>
			<p>
				1.2. Услуги предоставляются физическим и юридическим
			</p>
			<p>
				1.3. Обслуживание Пользователей производится на 2 языках (русский, казахский)
			</p>
			<p>
				1.4. Информирование, техническая и информационная поддержка производится 
				по времени Астаны (GMT +6.00)
			</p>
			<p>
				1.5. Доступ Пользователя к Услуге осуществляется через публичную сеть 
				Интернет. Организация доступа к услуге через сеть Интернет является 
				обязанностью Пользователя и не входит в обязанности оператора 
				по Соглашению.
			</p>
			<h2 style='font-weight:bold;'>2.  Термины и определения</h2>
			<p>
				<b>2.1. Оператор</b> — поставщик Услуг. 
			</p>
			<p>
				<b>2.2. Пользователь</b> — потребитель Услуг. 
			</p>
			<p>
				<b>2.3. Услуги</b> — осуществление Оператором предоставления аренды программного обеспечения (интерактивные сервисы), на платной основе, посредством предоставления доступа к нему через Интернет, непрерывно либо в соответствии с условиями настоящего Соглашения. Пользователь получает данные для доступа (Логин и пароль), для входа в систему.</p>
			<p>
				<b>2.4. Портал облачных сервисов (далее Портал)</b> — это совокупность взаимосвязанных непосредственно и через Интернет программных и аппаратных средств, который предоставляет Пользователю интерактивные сервисы (Интернет-сервисы). Портал расположен по адресу <a href='http://almasales.kz' style='color:blue; text-decoration:underline;'>almasales.kz</a> Интернет. На Портале Оператора Пользователям предоставляется доступ к Услугам.
			</p>
			<p>
				<b>2.5. Тарифы</b> — указание возможной стоимости предоставления Услуг, формируемая в зависимости от заказанного объема Услуг (период, количество рабочих мест).
			</p>
			<p>
				<b>2.6. Расчетный период</b> — полный календарный месяц, с момента начала предоставления Услуг.
			</p>
			<p>
				<b>2.7. Рабочий день</b> — означает день, официально считающийся в текущем году рабочим на территории Республики Казахстан и при 5-ти дневной рабочей неделе.
			</p>
			<p>
				<b>2.8. Техническая и информационная поддержка</b> — оказание Оператором Пользователю устных и письменных консультации по вопросам получения Услуги (информационная поддержка), а также устранение технических проблем, возникающих в связи с оказанием Услуги (техническая поддержка).
			</p>
			<p>
				<b>2.9. Заказ</b> — выбранный Пользователем объем оказания Оператором Услуг (период, количество рабочих мест), в соответствии с данными предоставленными на Портале, являющийся неотъемлемой частью настоящего Соглашения.
			</p>
			<h2 style='font-weight:bold;'>Права и обязанности сторон.</h2>
			<h3 style='font-weight:bold;'>3. Оператор обязуется:</h3>
			<p>
				3.1 Предоставить Пользователю на Портале Оператора информацию об Услугах в виде описания Услуги, полнота которых регулируется Оператором по его усмотрению.
			</p>
			<p>
				3.2 Оказывать Пользователю Услуги, заказанные им, надлежащим образом, в объеме и сроки, предусмотренные Заказом.
			</p>
			<p>
				3.3 Сохранять конфиденциальность информации Пользователя, полученной от него при Заказе Услуг, на Портале Оператора, за исключением случаев, предусмотренных действующим законодательством Республики Казахстан и настоящим Соглашением.
			</p>
			<p>
				3.4 Публиковать на Портале Оператора в разделе «Новости проекта» официальные сообщения, связанные с обслуживанием Пользователя: о введении новых Тарифов, прекращении действия существующих Тарифов, изменении условий настоящего Соглашения, о введении новых Услуг и т. п.
			</p>
			<p>
				3.5 Обеспечивать функциональность Услуги с допустимым временем простоя не более 1 суток суммарно в месяц, предпринимать меры для устранения ненадлежащего оказания Услуг.
			</p>
			<p>
				3.6 Исполнять иные обязанности, предусмотренные настоящим Соглашением.
			</p>
			<h3 style='font-weight:bold;'>4. Оператор вправе:</h3>
			<p>
				4.1 В одностороннем порядке прекращать оказание Услуги, прекращать действие тарифов и вводить новые тарифы, изменять условия настоящего Соглашения в порядке указанном в разделе 4 настоящего Соглашения.
			</p>
			<p>
				4.2 Считать актуальной, полной и достоверной информацию, получаемую от Пользователя на Портале Оператора.
			</p>
			<p>
				4.3 Привлекать к исполнению настоящего Соглашения третьих лиц, отвечая за их действия, как за свои собственные.
			</p>
			<p>
				4.4 В случаях нарушения Пользователем условий настоящего Соглашения, а также в случаях, предусмотренных действующем законодательством Республики Казахстан, направлять Пользователю уведомление (такое уведомление считается значимым, в том числе при его отправке по электронной почте на электронный адрес, указанный Пользователем при Заказе Услуги на Портале Оператора) о таком нарушении с требованием устранить такое нарушение и известить об этом Оператора в срок 3 (три) календарных дня с момента отправки такого уведомления Оператором. Кроме этого в уведомлении указываются следующие права Оператора:
			</p>
			<p>
				4.4.1 В случае отсутствия ответа Пользователя и/или не устранения нарушения в срок указанный в уведомлении Оператора, оказание Услуг будет приостановлено на срок 30 календарных дней. В случае отсутствия ответа Пользователя и/или не устранения нарушения, в течении 30 календарных дней, односторонне прекратить действие настоящего Соглашения без каких-либо возмещении Пользователю. Информация Пользователя удаляется и освободившиеся ресурсы Оператор использует по своему усмотрению.
			</p>
			<p>
				4.4.2 Уведомления, предусмотренные настоящим подпунктом направляются Оператором на адрес электронной почты Пользователя, указанный им при Заказе Услуги на Портале Оператора.
			</p>
			<p>
				4.5  В случае несвоевременной оплаты Услуг, в одностороннем порядке прекратить действие настоящего Соглашения, а также удалить информацию о Пользователе и использовать освободившиеся ресурсы для оказания услуг третьим лицам.
			</p>
			<p>
				4.6  Все уведомления в рамках настоящего Соглашения направляются Оператором на адрес электронной почты Пользователя, указанный им при Заказе Услуги на Портале Оператора.
			</p>
			<h3 style='font-weight:bold;'>5. Пользователь обязуется:</h3>
			<p>
				5.1 Ознакомиться на Портале Оператора с информацией об Услугах и предоставить все запрашиваемые Оператором данные, необходимые для предоставления Услуг.
			</p>
			<p>
				5.2 Своевременно предоставлять Оператору, направляя на адрес электронной почты Оператора актуальные материалы, документы и сведения, необходимые для исполнения Оператором своих обязанностей по Договору.
			</p>
			<p>
				5.3 Надлежащим образом выполнять условия настоящего Соглашения.
			</p>
			<p>
				5.4 Не передавать свои права и обязанности по настоящему Соглашению третьим лицам.
			</p>
			<h3 style='font-weight:bold;'>6. Пользователь вправе:</h3>
			<p>
				6.1 Пользоваться Услугами Оператора в соответствии с условиями настоящего Соглашения.
			</p>
			<h2 style='font-weight:bold;'>7. Порядок заказа Услуг</h2>
			<p>
				7.1     Для Заказа Услуг Пользователь следует алгоритму действии, указанному на Портале, которые направлены на сбор информации о заказываемых Услугах, включающие следующие параметры Услуги:
				1) Наименование Услуги
				2) Число подключаемых к Услуге Пользователей (количество рабочих мест).
				3) Сроки оказания Услуги (период аренды).
				4) Стоимость Услуги (информация о стоимости Услуги содержится в Интернет-витрине)
				5) Адрес электронной почты Пользователя.
			</p>
			<p>
				7.2 Пользователь осуществляет оплату посредством банковского перевода, либо посредством карточки (VISA, MasterCard, Maestro) через терминал процессинговой системы, вход к которой осуществляется через личный кабинет Пользователя.
			</p>
			<p>
				7.3 Настоящее соглашение вступает в силу с момента подтверждения согласия (После нажатия кнопки «Согласен, условия принимаю»).
			</p>
			<p>
				7.4 Частичная оплата Заказа не допускается.
			</p>
			<p>
				7.5 Оператор обязан начать оказание Услуги в течении 3 (трех) часов после осуществления Пользователем Заказа на Услугу.
			</p>
			<p>
				7.6 Пользователь вправе изменить параметры Услуги, после истечения текущего Расчетного периода.
			</p>
			<p>
				7.7 Для продления срока оказания Услуги на следующий Расчетный период, Оператор за 10 календарных дней до окончания текущего Расчетного периода направляет Пользователю на адрес электронной почты, указанный Пользователем при регистрации на Портале, сообщение с указанием календарной даты окончания срока оказания Услуги, и инструкции по оплате Услуги планируемой Пользователем к получению в течении Расчетного периода, следующего за текущим Расчетным периодом.
			</p>
			<p>
				7.8 При неоплате Пользователем следующего Расчетного периода в течении срока, указанного в п. 
				7.7, Оператор прекращает оказание Услуг и удаляет информацию о Пользователе, хранение которой предусматривалось при оказании Услуги, а также использует освободившиеся в результате этого ресурсы для оказания Услуг третьим лицам.
			</p>
			<p>
				7.9 Срок оказания Услуги определяется в соответствии с Заказом.
			</p>
			<p>
				7.10 Уведомление об одностороннем изменении условий настоящего Соглашения Оператор публикует на Портале Оператора не менее чем за 10 (десять) календарных дней до вступления в силу такого изменения.
			</p>


			<h2 style='font-weight:bold;'>8. Порядок оплаты Услуг.</h2>
			<p>
				8.1 Расчеты по настоящему Соглашению осуществляются посредством предоплаты (авансом) в размере 100% от суммы Заказа. Пользователь производит оплату Услуг за Расчетный период в соответствии с Заказом.
			</p>
			<p>
				8.2 Расходы (банковская комиссия) по перечислению средств до банка Оператора несет Оператор.
			</p>
			<p>
				8.3 Пользователь самостоятельно несет ответственность за правильность производимых им платежей.
			</p>
			<h2 style='font-weight:bold;'>9. Ответственность сторон.</h2>
			<p>
				9.1 За невыполнение или ненадлежащее выполнение своих обязательств по Соглашению Стороны несут ответственность в соответствии с действующим законодательством Республики Казахстан
			</p>
			<p>
				9.2 Оператор не несет ответственности за перерывы в оказании Услуги, вызванные сбоями в работе сети Интернет
			</p>
			<p>
				9.3 Услуга предоставляется Оператором «такой, какова она есть». Оператор не гарантирует, что программно-технические средства реализации Услуги не содержат ошибок, а также не несет никакой ответственности за прямые или косвенные убытки, включая упущенную выгоду, потерю конфиденциальной информации, возникшие в результате использования Услуги, в том числе из-за возможных ошибок или опечаток в комплекте документации на программно-технические средства реализации Услуги.
			</p>
			<p>
				9.4 Оператор не несет ответственности перед Пользователем, если предоставление Услуги оказалось невозможным по вине Пользователя или в случае наступления форс-мажорных обстоятельств (стихийные бедствия, катастрофы).
			</p>
			<p>
				9.5 Ни при каких обстоятельствах размер ответственности Оператора перед Пользователем не может превышать 5 (пяти) процентов от стоимости Услуг Оператора за Расчетный период, оказанных Пользователю и оплаченных Пользователем.
			</p>


			<h2 style='font-weight:bold;'>10. Правила обеспечения безопасности.</h2>
			<p>
				10.1 Пользователь обязан воздерживаться от действии, способных создать угрозу для нормального функционирования Услуг Оператора.
			</p>
			<p>
				10.2 Пользователь обязан осуществить действия по препятствованию распространения спама и вредоносного программного обеспечения с использованием аппаратных и программных средств Оператора.
			</p>
			<p>
				10.3 В целях осуществления вышеперечисленных требований Пользователь берет на себя обязательства:

			</p>
			<p>
				10.3.1 Не отправлять с использованием аппаратных и программных средств Оператора информацию, отправка которой противоречит законодательству Республики Казахстан, а также международному законодательству. Не использовать аппаратные и программные средства Оператора для распространения материалов, относящихся к порнографии, оскорбляющих человеческое достоинство, пропагандирующих насилие или экстремизм, разжигающих расовую, национальную или религиозную вражду, преследующих насилие хулиганские или мошеннические цели. 
			</p>
			<p>
				10.3.2 Не посылать, не публиковать, не передавать, не воспроизводить и не распространять любым способом посредством Услуги программное обеспечение или другие материалы, постоянно или частично, защищенные нормами законодательства об охране авторского права и интеллектуальной собственности, без разрешения владельца или его полномочного представителя.
			</p>
			<p>
				10.3.3 Не использовать аппаратные и программные средства Оператора для распространения ненужной получателю, не запрошенной информации (создания или участия в сетевом шуме — «спаме»)
			</p>
			<p>
				10.3.4 Не использовать идентификационные данные (имена, адреса, телефоны, и т. п.) третьих лиц, кроме случаев, когда эти лица уполномочили Пользователя на такое использование. В то время Пользователь должен принять меры по предотвращению использования аппаратных и программных средств Оператора третьими лицами от имени Пользователя (обеспечить сохранность паролей и прочих кодов авторизационного доступа).
			</p>
			<p>
				10.4 Пользователь самостоятельно несет риск от любых угроз из сети Интернет. В случае установленных нарушений информационной безопасности Пользователь должен незамедлительно предоставить Оператору всю имеющуюся у него информацию об источнике и характере нарушений и принять необходимые меры по препятствованию незаконной деятельности, включая приостановку потребления Услуги до устранения причин нарушения информационной безопасности.
			</p>
			<p>
				10.5 При нарушений Пользователем правил безопасности, указанных в настоящем разделе, Оператор имеет право на совершение в отношении Пользователя действий, перечисленных в 4.4 Соглашения.
			</p>


			<h2 style='font-weight:bold;'>11. Порядок рассмотрения претензии и споров.</h2>
			<p>
				11.1 Споры, возникшие в связи с исполнением обязательств по Договору, разрешаются Сторонами в претензионном порядке.
			</p>
			<p>
				11.2 Все споры, возникающие при выполнении условий Договора должны оформляться Сторонами в форме претензии и направляться друг другу следующим образом:
			</p>
			<p>
				11.2.1 Пользователь направляет претензию/ответ на претензию Оператору по электронной почте на электронный адрес. Оператор направляет Пользователю претензию/ответ на претензию на электронный адрес указанный пользователем на Портале, при заказе Услуги на Портале Оператора.
			</p>
			<p>
				11.2.2 Сторона получившая претензию, обязана сообщить заявителю о результатах ее рассмотрения в течении 30 (календарных дней с момента ее получения).
			</p>
			<p>
				11.3   При не достижении соглашения между Сторонами спор передается на рассмотрение в суд по месту нахождения оператора.
			</p>


			<h2 style='font-weight:bold;'>12. Эксплуатационные характеристики Услуги.</h2>
			<p>
				12.1 Услуга предоставляется 24 (двадцать четыре) часа в сутки, 7 (семь) дней в неделю с допустимым временем простоя не более 1 суток в месяц.
			</p>
			<p>
				12.2 При возникновении необходимости в технической и/или информационной поддержки и уведомляет Пользователя о предпринятых мерах по его запросу в срок:
			</p>
			<p>
				12.2.1 Не более одного 1 (одного) рабочего дня с момента обращения при оказании информационной поддержки; Не более 5 (пяти) рабочих дней с момента обращения при оказании технической поддержки
			</p>
			<p>
				12.3 Оператор периодически проводит обновление параметров Услуги. Данные работы называются плановыми работами и могут привести к перерывам в возможности использования Услуги. Оператор информирует Пользователя о Плановых работах, которые могут привести к перерывам в использовании Услуги, на сайте Оператора минимум за 24 часа.
			</p>
			<p>
				Присоединяюсь к настоящему соглашению и принимаю на себя в полном объеме права и обязательства, вытекающие из него.
			</p>
		</div>
	</body>
</html>
