{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("User List Page") }} {% endblock %}
{% block content %}
<h1> Contact List </h1>
	<a href="{% url 'contact_create' %}"> Create a Contact </a>
	<ul>{% for c in contacts %}
	    <li>
            <h2> {{ c.first_name }} {{ c.last_name }} </h2>
             <ul>
                <li> Company Name - {{ c.company_name }} </li>
                <li> Phone Number - {{ c.phone }} </li>
                <li> Email - {{ c.email }} </li>
                <li> Date Created UTC - {{ c.date_created }} </li>
             </ul>  
             <a href="{% url 'contact_update' pk=c.id %}">Update</a>  
             <a href="{% url 'contact_detail' pk=c.id %}">Detail</a>
	    </li>
	{% endfor %}</ul>
	<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
