{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("User List Page") }} {% endblock %}
{% block content %}
<h1> Goal List </h1>
	<a href="{% url 'goal_create' %}"> Create a Goal </a>
	<ul>{% for g in goals %}
	    <li> {{ g.name }}
	   		 <a href="{% url 'goal_update' pk=g.id %}">Update</a>  
	   		 <a href="{% url 'goal_detail' pk=g.id %}">Detail</a>  
             <a href="{% url 'goal_delete' pk=g.id %}">Delete</a>  
	    </li>
	{% endfor %}</ul>
	<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
