{% load i18n crm_tags almanet_tags %}
	{% block content %}
		{% for comment in comments %}
		<div id='comment-{{comment.id}}'>
			<div class="line">
				<p>{{comment.author}}</p>
				<p>{{comment.comment}}</p>
				<p>{{comment.date_created}}</p>
				{% if comment.author == request.user.get_crmuser %}
					<a href="javascript:void();" class="btn btn-primary" link="{% subdomain_url 'comment_delete' slug='{{ DEFAULT_SERVICE }}' subdomain=request.subdomain comment_id=comment.id %}" onclick="delete_comment(this, {{ comment.id }});">Delete</a>
				{% endif %}
			</div>
		</div>
		<div id='new-comment'>
		</div>
		{% endfor %}
		<form action="{% subdomain_url 'comments' slug='{{ DEFAULT_SERVICE }}' subdomain=request.subdomain content_type=context_type object_id=object_id %}" id="comment_submit_form" activity-id="{{object.id}}" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{form.as_p}}
			<button id='submit_button' class="btn btn-primary"  type="submit" onclick="add_comment()" >
				add comment
			</button>
		</form>
	{% endblock %}


