{% load static from staticfiles %}

<div class="lineGroup">
  <div class="line">
    <div class="line-aside">
      <figure class="icon">
        {{ activity.feedback.get_status_display }}
      </figure>
    </div>
    <div class="line-body">
      <div class="line-body-main">
        <div class="caption secondary">
          <a href="index.html">{{ activity.sales_cycle.contact }}</a> |
          <a href="index.html">{{ activity.sales_cycle }}</a>
        </div>
        {{ activity.title }}

        <a href="#" class="link-tag">#phonecall</a>

        <div class="line-body-meta">
          <a href="profile.html" class="link-user">

            <figure class="userpic">
              <img src="{% static 'img/example/userpic6.png' %}" alt="" />
            </figure>
            {{ activity.author.get_billing_user.get_short_name }}
          </a> at {{ activity.date_created|date:'F j, H:i' }}
        </div>
      </div>
    </div>
  </div>
</div>
