{% load i18n crm_tags %}
{% load static from staticfiles %}
<div class="lineGroup" id='activity-{{activity.id}}'>
  <div class="line">
    <div class="line-aside">
      <figure class="icon">
        {{ activity.feedback.get_status_display }}
      </figure>

      <a href="{% crm_url 'feedback_by_activity' pk=activity.pk %}"
        data-js-activity-feedback-visual='show'>[s]</a>

    </div>
    <div class="line-body">
      <div class="line-body-main">
        <div class="caption secondary">
          <a href="{% crm_url 'contact_detail' contact_pk=activity.sales_cycle.contact.id %}">{{ activity.sales_cycle.contact }}</a> |
          <a href="{% crm_url 'contact_detail' contact_pk=activity.sales_cycle.contact.id %}?sales_cycle_id={{ activity.sales_cycle.pk }}">{{ activity.sales_cycle }}</a>
        </div>
        {{ activity.title }}
        <a href="#" class="link-tag">#meeting</a>
        <div class="line-body-meta">
          <a href="profile.html" class="link-user">
            <figure class="userpic">
              <img src="{% static 'img/example/userpic6.png' %}" alt="" />
            </figure>
            {{ activity.author.get_billing_user }}
          </a> {{ activity.date_created|date:'F j, H:i' }}
        </div>
      </div>
    </div>
  </div>


  <div style='display:none;'
    data-js-activity-feedback-visual='body'>
  </div>


  <div class="lineGroup-extra">
    <div class="comments">
      <button type="button" class="comment--toggle" data-toggle="comments" onclick='click_event("{% crm_url "comments" content_type="activity" object_id=activity.id %}")' url="">
        <figure class="icon">[c]</figure>
      </button>
      <div class="comments-body">
        <div class="comment comment--form">
          <!-- <div class="js-commentForm-trigger">
              <div class="comment-meta">
                <figure class="userpic">
                  <img src="{% static 'img/example/userpic6.png' %}" alt="" />
                </figure>
              </div>
              <div class="comment-body">
                <button type="button" data-toggle="comment-reply">Leave a note</button>
              </div>
          </div> -->
          <div class="js-commentForm"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="lineGroup" id='activity-{{activity.id}}'>
  <div class="line">
    <div class="line-aside">
      <figure class="icon">
        {{ activity.feedback.get_status_display }}
      </figure>
    </div>
    <div class="line-body">
      <div class="line-body-main">
        <div class="caption secondary">
          <a href="index.html">{{ activity.sales_cycle.contact }}</a> |
          <a href="index.html">{{ activity.sales_cycle }}</a>
        </div>
        {{ activity.title }}

        <a href="#" class="link-tag">#phonecall</a>

        <div class="line-body-meta">
          <a href="profile.html" class="link-user">

            <figure class="userpic">
              <img src="{% static 'img/example/userpic6.png' %}" alt="" />
            </figure>
            {{ activity.author.get_billing_user }}
          </a> at {{ activity.date_created|date:'F j, H:i' }}
        </div>
      </div>
      <a class="js-show-comments-link" id='show_comments-{{ activity.id }}' data-url="{% crm_url 'comments' content_type='activity' object_id=activity.id %}" onclick='click_event("")' activity-id='{{activity.id}}'>
        <div class="line-body-extra" >
          <figure class="icon">[comments]</figure>
        </div>
      </a>
    </div>
  </div>

</div> -->


