{% load i18n crm_tags almanet_tags %}
<div class="lineGroup" id='activity-{{activity.id}}'>
  <div class="line">
    <div class="line-aside">
      <figure class="icon">{{ activity.feedback.get_status_display }}</figure>
    </div>
    <div class="line-body">
      <div class="line-body-main">
        {{ activity.feedback.feedback }}
        <div class="line-body-meta">
          <a href="/index">
            <figure class="userpic"></figure>
            {{ activity.author.get_billing_user.get_short_name }}
          </a> at {{ activity.date_created }}
        </div>
      </div>
      <a id='show_comments-{{activity.id}}' onclick='click_event("{% subdomain_url "comments" slug="almcrm" subdomain="bwayne" content_type="activity" object_id=activity.id %}")' activity-id='{{activity.id}}'>
        <div class="line-body-extra" >
          <figure class="icon">[comments]</figure>
        </div>
      </a>
    </div>
  </div>
  

</div>

