{% extends "crm/base.html" %}
{% load i18n crm_tags %}
{% block head_title %} {{ _("Feed") }} {% endblock %}

{% block crm_aside_tabs %}
  <a href="#" class="tabs-link" data-tip="[Cycles I follow]">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--home" xlink:href="#home"></use>
      </svg>
    </figure>
  </a>
  <a href="#" class="tabs-link" data-tip="[Mentions]">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--mentions" xlink:href="#mentions"></use>
      </svg>
    </figure>
  </a>
  <a href="#" class="tabs-link" data-tip="[Company]">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--company" xlink:href="#company"></use>
      </svg>
    </figure>
  </a>
{% endblock crm_aside_tabs %}


{% block crm_body %}
  <div class="body-column body-column--single">
    <div class="column">
      <div class="column-block">
        <div id="comments">
        </div>
      </div>
    </div>
    <div class="column">
      {% for sc in sales_cycles %}
        <div class="column-block">
          <div class="column-title">
            <a href="{% crm_url 'contact_detail' contact_pk=sc.contact.id %}">
              {{ sc.contact.name }}</a> &raquo;
            <a href="#">{{ _("Sales cycle") }}</a>
          </div>

          {% for sc_activity in sales_cycle_activities %}
            {% show_activity sc_activity %}
          {% endfor %}

          <div class="column-block-footer"></div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock crm_body %}


{% block js_content %}
{{ block.super }}
<script type="text/javascript">
  $(function() {
    $('.js-show-comments-link').click($.comments.click_event);
  });
</script>
{% endblock %}
