{% extends "crm/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("Feed") }} {% endblock %}
{% block content %}

  <nav class="body-header nav">
    <div class="lineOfLinks">
      <a class="lineOfLinks-link nav-link" href="/dashboard">
        dashboard
      </a><a class="lineOfLinks-link nav-link" href="/contacts">
        contacts
      </a><a class="lineOfLinks-link nav-link" href="/feed">
        feed
      </a>

      <div class="nav-aside">
        <a class="btn" href="#">add contact</a>
        <a href="">
          <figure class="userpic"></figure>
        </a>
      </div>

    </div>
  </nav>

  <div class="body-container">

  <div class="body-column body-column--single">

  <div class="column">
    <div class="column-title">
      <span class="column-title-span"><a href="/index">Bienaimé Jean-Pierre</a> &raquo; <a href="/index">Sales cycle</a></span>
    </div>

    <div class="lineGroup">
      <div class="line">
        <div class="line-aside">
          <figure class="icon">[status]</figure>
        </div>
        <div class="line-body">
          <div class="line-body-main">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ratione nulla porro consectetur illo.
            <div class="line-body-meta">
              <a href="/index">
                <figure class="userpic"></figure>
                Ren
              </a> at April 24, 13:45
            </div>
          </div>
          <div class="line-body-extra">
            <figure class="icon">[comments]</figure>
          </div>
        </div>
      </div>
    </div>

    <div class="lineGroup">
      <div class="line">
        <div class="line-aside">
          <figure class="icon">[status]</figure>
        </div>
        <div class="line-body">
          <div class="line-body-main">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ratione nulla porro consectetur illo.
            <div class="line-body-meta">
              <a href="/index">
                <figure class="userpic"></figure>
                Ren
              </a> at April 24, 13:45
            </div>
          </div>
          <div class="line-body-extra">
            <figure class="icon">[comments]</figure>
          </div>
        </div>
      </div>
    </div>

    <div class="column-title">
      <span class="column-title-span"><a href="/index">Sean Nelson</a> &raquo; <a href="/index">Sales cycle</a></span>
    </div>

    <div class="lineGroup">
      <div class="line">
        <div class="line-aside">
          <figure class="icon">[status]</figure>
        </div>
        <div class="line-body">
          <div class="line-body-main">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ratione nulla porro consectetur illo.
            <div class="line-body-meta">
              <a href="/index">
                <figure class="userpic"></figure>
                Ren
              </a> at April 24, 13:45
            </div>
          </div>
          <div class="line-body-extra">
            <figure class="icon">[comments]</figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  </div>


{% endblock %}
