{% extends "crm/base.html" %}
{% load i18n crm_tags %}
{% load static from staticfiles %}
{% block head_title %} {{ _("Profile") }} {% endblock %}


{% block crm_body %}

<div class="hero">
  <div class="body-column">
    <div class="column">

      <div class="line line--borderless">
        <div class="line-aside">
          <figure class="userpic userpic--large"></figure>
        </div>
        <div class="line-body">
          <h1 class="line-title">{{ profile_info.fn }}</h1>
          <div class="line-subtitle">{{ profile_info.company.name }}</div>
        </div>
      </div>

      <div class="line line--compact">
        <div class="line-aside">
          <div class="line-aside-label">mobile</div>
        </div>
        <div class="line-body">
          {{ profile_info.mobile }}
        </div>
      </div>
      <div class="line line--compact">
        <div class="line-aside">
          <div class="line-aside-label">work</div>
        </div>
        <div class="line-body">
          {{ profile_info.email_work }}
        </div>
      </div>

      <div class="showmore">
        <div class="showmore-body">

          <div class="line line--compact">
            <div class="line-aside">
              <div class="line-aside-label">another email</div>
            </div>
            <div class="line-body">
              {{ profile_info.email_work }}
            </div>
          </div>
          <div class="line line--compact">
            <div class="line-aside">
              <div class="line-aside-label">something else</div>
            </div>
            <div class="line-body">

            </div>
          </div>

        </div>
        <div class="line">
          <div class="line-aside">
            <a class="lineOfLinks-link lineOfLinks-link--showmore" href="#" data-toggle="showmore" data-text="Show less">
              Show more
            </a>
          </div>
          <div class="line-body lineOfLinks">
            <a class="lineOfLinks-link" href="#"> Edit </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="column">
  <div class="calendarChart">
    <svg class="js-svg-calendarChart"></svg>
  </div>
  <div class="counterGroup-container">
    <div class="counterGroup">
      <a href="#" class="counter" title="Cреднее значение фидбэков">
        10
        <div class="counter-label">Средний фидбэк</div>
      </a><a href="#" class="counter" title="Количество активных циклов продаж">
        20
        <div class="counter-label">Циклы продаж</div>
      </a><a href="#" class="counter" title="Заработано за этот месяц">
        30
        <div class="counter-label">За месяц</div>
      </a>
    </div>
  </div>
</div>

{% endblock crm_body %}
