{% load crm_tags almanet_tags %}

<a href="{% crm_url 'feed' %}"
  class="tabs-link {% ifequal active_tab 'feed' %} active {% endifequal %}">
  <figure class="icon">
    <svg version="1.1">
    <use class="icon--home" xlink:href="#home"></use>
    </svg>
  </figure>

  <div class="tabs-link-extra">
    My feed
  </div>
</a>

<a href="{% crm_url 'feed_mentions' %}"
  class="tabs-link {% ifequal active_tab 'feed_mentions' %} active {% endifequal %}">
  <figure class="icon">
    <svg version="1.1">
    <use class="icon--mentions" xlink:href="#mentions"></use>
    </svg>
  </figure>

  <div class="tabs-link-extra">
    Mentions
  </div>
</a>

<a href="{% crm_url 'feed_company' %}"
  class="tabs-link {% ifequal active_tab 'feed_company' %} active {% endifequal %}">
  <figure class="icon">
    <svg version="1.1">
    <use class="icon--company" xlink:href="#company"></use>
    </svg>
  </figure>

  <div class="tabs-link-extra">
    Company feed
  </div>
</a>

