{% extends "crm/base.html" %}
{% load i18n crm_tags almanet_tags %}
{% block head_title %} {{ _("Feed: Company") }} {% endblock %}

{% block crm_aside_tabs %}
  {% crm_aside_tabs_feeds 'feed_company' %}
{% endblock crm_aside_tabs %}


{% block crm_body %}
  <div class="body-column body-column--withTabs">
    <div class="column">

      {% for activity in company_activities %}
        {% show_activity activity %}
      {% endfor %}

    </div>
  </div>

{% endblock crm_body %}


{% block crm_footer %}
  <div class="help">
    This page contains activity from everybody in your company.
  </div>
{% endblock crm_footer %}


{% block js_content %}
  {{ block.super }}
{% endblock %}
