{% extends "crm/base.html" %}
{% load i18n almanet_tags crm_tags %}
{% block head_title %} {{ _("Shares") }} {% endblock %}


{% block crm_aside_tabs %}
  {% crm_aside_tabs_contacts 'share_list' %}
{% endblock crm_aside_tabs %}


{% block crm_body %}

  <div class="body-column body-column--withTabs">
    <div class="column">

      {% for share in object_list %}
        {% show_share share  %}

      {% endfor %}
    </div>
  </div>

{% endblock crm_body %}


{% block crm_footer %}
  <div class="help">
    This page contains contacts, that were ever shared with you.<br>
    You can also share any contact with yourself.
  </div>
{% endblock crm_footer %}
