{% extends "user/base.html" %}
{% load i18n almanet_tags %}
{% load static from staticfiles %}
{% block head_title %} Login page {% endblock %}
{% block content %}
    {{ message }}
<div>
    <div>
        <div>
            {% if companies %}
                <p>Компании, в которые вы залогинены</p>
                {% for company in companies %}
                    <a href="{% subdomain_url 'crm_home' subdomain=company.subdomain service_slug='crm'  %}" class="login-submit">{{ company.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <p class="p1 text-center">
            <a href='https://appsto.re/kz/pvzn8.i' target="_blank">
                <img style='display:inline-block' src="{% static 'img/app_store_badge.svg' %}" />
            </a>
        </p>
    </div>
</div>
{% endblock %}
