{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} Register &mdash; Almanet {% endblock %}
{% block content %}
  {{message}}
  <div class="login">
    <div class="login-body">
      <div class="login-switcher">
        <a href="{% url 'user_login' %}" class="login-switcher-button">Log-in</a>
        <a href="{% url 'user_referral' %}" class="login-switcher-button active">Register</a>
      </div>

      <form name="login-form" action="" method="post">{% csrf_token %}
        <p class="login-form-p">The registration is now closed. To learn more or participate in beta, leave your email below.</p>
        <div class="login-fieldset">
          <label class="login-fieldset-icon" for="login-email">
                      
          <figure class="icon icon--mail">
            <svg version="1.1">
              <use xlink:href="#mail"></use>
            </svg>
          </figure>

          </label>
          <input class="login-input" id="login-email" name="email" type="email" placeholder="E-mail">
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
             <div class="login-error">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="login-fieldset">
          <button class="login-submit login-submit--reset" type="submit">{{ _("Participate in beta") }}</button>
        </div>
      </form>
    </div>

  </div>
  {% endblock %}