{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} _("Reset password done") {% endblock %}
{% block content %}
    {{ message }}
    <div class="login">
        <div class="login-body">
            <div class="login-form">
<h1>{% trans 'Password reset successful' %}</h1>

<p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>

  </div>

  </div>
{% endblock %}
