{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} _("Reset password done") {% endblock %}
{% block content %}
    {{ message }}
    <div class="login">
        <div class="login-body">
            <div class="login-form">
<h1>{{ _('Password reset successful') }}</h1>

<p>{% trans 'Your password has been changed, for sign in go to' %} <a href="{% url 'user_login' %}" style="text-decoration: underline;">{% trans 'login page' %}</a></p>

            </div>

  </div>

  </div>
{% endblock %}
