{% extends "user/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("Forgot subdomain") }} {% endblock %}
{% block content %}
    {{ message }}
    <div class="login">
        <div class="login-body">
            <div class="login-form">
            	<h1>{{ _("Forgot subdomain") }}</h1>

				<p>{{ _("Forgotten your subdomain? Enter an email below and we will send you all the companies that you are involved in via email") }}</p>
            <form name="login-form" action="" method="post">
                {% csrf_token %}
                <div class="login-fieldset {% if form.email.errors or form.non_field_errors %}has-error{% endif %}">
                    <label class="login-fieldset-icon" for="email">
                        <figure class="icon icon--mail">
                          <svg version="1.1">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </figure>
                    </label>
                    <input class="login-input" id="email" name="email" type="email" placeholder="E-mail">
                    {% if form.email.errors %}
                        <div class="login-error">{{ form.error_messages }}</div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <div class="login-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
        <div class="login-fieldset" style="margin-top: 0;">
          <button class="login-submit" type="submit">{{ _("Send subdomains") }}</button>
        </div>
      </div>
    </form>
            </div>

  </div>

  </div>
{% endblock %}
