{% load i18n crm_tags %}
{% load static from staticfiles %}

<div class="lineGroup lineGroup--compact">
    <div class="line line--compact">
      <div class="line-aside">
        <figure class="icon">[s]</figure>
        <figure class="icon">[f]</figure>
      </div>
      <div class="line-body">
        <h1 class="line-title"><a href="{% crm_url 'contact_detail' contact_pk=contact.id %}">{{ contact.name }}</a></h1>

        <div class="line-subtitle">{{ contact.company.name }}</div>
      </div>
    </div>
    <div class="line line--compact">
      <div class="line-aside">
        <div class="line-aside-label">мобильный</div>
      </div>
      <div class="line-body">
        {{ contact.mobile.value }}
      </div>
    </div>
    <div class="line line--compact">
      <div class="line-aside">
        <div class="line-aside-label">имэйл</div>
      </div>
      <div class="line-body">
        {{ contact.email_work }}
      </div>
    </div>
    <div class="line line--compact">
      <div class="line-aside">
        <div class="line-aside-label">РНН</div>
      </div>
      <div class="line-body">
        {{ contact.rnn.value }}
      </div>
    </div>
    <div class="line line--compact">
      <div class="line-aside">
        <div class="line-aside-label">IBAN</div>
      </div>
      <div class="line-body">
        {{ contact.iban.value }}
      </div>
    </div>
    <div class="line line--compact">
      <div class="line-aside"></div>
      <div class="line-body">
        <div class="line-subtitle">Последняя дата связи с контактом: {{ contact.last_contacted|date:'F j, H:i'|default:'никогда' }}</div>
      </div>
    </div>
    <div class="lineGroup-extra">
      <div class="comments">
        <button type="button" class="comment--toggle" data-toggle="comments" onclick='click_event("{% crm_url "comments" content_type="contact" object_id=contact.id %}")' url="">
          <figure class="icon">[c]</figure>
        </button>
        <div class="comments-body">
          <div class="comment comment--form">
            <!-- <div class="js-commentForm-trigger">
                <div class="comment-meta">
                  <figure class="userpic">
                    <img src="{% static 'img/example/userpic6.png' %}" alt="" />
                  </figure>
                </div>
                <div class="comment-body">
                  <button type="button" data-toggle="comment-reply">Leave a note</button>
                </div>
            </div> -->
            <div class="js-commentForm"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
