<div class="lineGroup lineGroup--compact">
  <div class="line line--compact">
    <div class="line-aside">
      <figure class="icon">{{ contact.get_status_display }}</figure>
      <figure class="icon">[avg. feedback]</figure>
    </div>
    <div class="line-body">
      <h1 class="line-title"><a href="index.html">{{ contact.name }}</a></h1>
      <div class="line-subtitle">{{ contact.company.name }}</div>
    </div>
  </div>
  <div class="line line--compact">
    <div class="line-aside">
      <div class="line-aside-label">mobile</div>
    </div>
    <div class="line-body">
      {{ contact.mobile.value }}
    </div>
  </div>
  <div class="line line--compact">
    <div class="line-aside">
      <div class="line-aside-label">work</div>
    </div>
    <div class="line-body">
      {{ contact.email_work }}
    </div>
  </div>
</div>
