{% extends "crm/base.html" %}
{% load i18n almanet_tags crm_tags %}
{% block head_title %} {{ _("Contacts") }} {% endblock %}


{% block crm_aside_tabs %}
  {% crm_aside_tabs_contacts 'contacts_list' %}
{% endblock crm_aside_tabs %}


{% block crm_body %}
  <div class="body-column body-column--withTabs">
    <div class="column">

      {% for contact in object_list %}
        {% show_contact contact %}
      {% endfor %}

    </div>
  </div>
{% endblock crm_body %}


{% block crm_footer %}
  <div class="help">
    This page contains contacts, that were ever contacted by you.
  </div>
{% endblock crm_footer %}
