{% extends "crm/base.html" %}
{% load i18n crm_tags almanet_tags %}
{% load static from staticfiles %}
{% block head_title %} {{ _("Contact Create Form") }} {% endblock %}


{% block crm_aside_tabs %}
  <a href="{% crm_url 'share_list' %}" class="tabs-link" data-tip="Shared contacts">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--next" xlink:href="#next"></use>
  </svg>
</figure>

    </a>
    <a href="contacts-last.html" class="tabs-link" data-tip="Contacted in last 7 days">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--week" xlink:href="#week"></use>
  </svg>
</figure>

    </a>
    <a href="{% crm_url 'contacts_list' %}" class="tabs-link" data-tip="All contacted">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--alltime" xlink:href="#alltime"></use>
  </svg>
</figure>

    </a>
  <a href="{% crm_url 'contact-search' %}" class="tabs-link" data-tip="Search">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--search" xlink:href="#search"></use>
  </svg>
</figure>

    </a>
{% endblock crm_aside_tabs %}

{% block crm_body %}
  <div class="body-column body-column--withTabs">
    <div class="column">
      <h2>Create a contact</h2>
      <form action="" method="post" id='contact-submit-form' post-url="{% crm_url 'contact_create' %}">
        <input type="hidden" id="data-js-csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {{vcard_form.as_p}}
        <div id='data-js-vcard-completed-objects'>

        </div>

        <div id='data-js-vcard-objects'>

        </div>
        <p>
          <a href="#" id='data-js-email-form-toggle' class="btn btn-primary" value='add' url="{% crm_url 'email_create' %}">
          + Add an email
          </a>
          <a href="#" id='data-js-tel-form-toggle' class="btn btn-primary" value='add' url="{% crm_url 'tel_create' %}">
          + Add a phone #
          </a>
          <a href="#" id='data-js-org-form-toggle' class="btn btn-primary" value='add' url="{% crm_url 'org_create' %}">
          + Add an organization #
          </a>
        </p>
        <p><button type="submit" class="btn btn-primary" value="create" id='data-js-form-submit' url="{% crm_url 'contact_create' %}">
          Create
        </button></p>
      </form>
      
    </div>
  </div>
{% endblock crm_body %}

{% block js_content %}
  <script>
    var vcard_id = 0;
      function name_fields_added(){
        if ($('#id_given_name').val()!="" && $('#id_family_name').val()!=""){
          $.post(
              $('#contact-submit-form').attr('post-url'),
              {
                csrfmiddlewaretoken: $('#data-js-csrfmiddlewaretoken').val(),
                given_name: $('#id_given_name').val(),
                family_name: $('#id_family_name').val(),
              },
              function(data){
                vcard_id = data['vcard_id'];
                return vcard_id;
              }
            )
;          return vcard_id;
        }
        else{
          return -1;
        }
      }

      $('#data-js-email-form-toggle').on('click', function(event){
          if ($('#id_given_name').val()=="" && $('#id_family_name').val()==""){
            alert('fill given and family names fields');
            return false;
          }
          else if (document.getElementById('email-form')==null){
            if (vcard_id == 0){
              var vcard_id = $(document).ajaxStop(name_fields_added());
            }
            var my_url = $('#data-js-email-form-toggle').attr('url');
            $.ajax({
              type:'GET',
              url: my_url,
              success: function(data){
                var form_html = $(data).find('#email-form');
                form_html.attr("onsubmit","return add_email()");
                $('#data-js-vcard-objects').html(form_html);
              }
            });
          }
          else{
            alert('Finish the email form first');
            return false;
          }
        return false;
      });

      $('#data-js-tel-form-toggle').on('click', function(event){
          if ($('#id_given_name').val()=="" && $('#id_family_name').val()==""){
            alert('fill given and family names fields');
            return false;
          }
          else if (document.getElementById('tel-form')==null){
            if (vcard_id == 0){
              var vcard_id = $(document).ajaxStop(name_fields_added());
            }
            var my_url = $('#data-js-tel-form-toggle').attr('url');
            $.ajax({
              type:'GET',
              url: my_url,
              success: function(data){
                var form_html = $(data).find('#tel-form');
                form_html.attr("onsubmit","return add_tel()");
                $('#data-js-vcard-objects').html(form_html);
              }
            });
          }
          else{
            alert('Finish the tel form first');
            return false;
          }
        return false;
      });

      $('#data-js-org-form-toggle').on('click', function(event){
          if ($('#id_given_name').val()=="" && $('#id_family_name').val()==""){
            alert('fill given and family names fields');
            return false;
          }
          else if (document.getElementById('org-form')==null){
            if (vcard_id == 0){
              var vcard_id = $(document).ajaxStop(name_fields_added());
            }
            var my_url = $('#data-js-org-form-toggle').attr('url');
            $.ajax({
              type:'GET',
              url: my_url,
              success: function(data){
                var form_html = $(data).find('#org-form');
                form_html.attr("onsubmit","return add_org()");
                $('#data-js-vcard-objects').html(form_html);
              }
            });
          }
          else{
            alert('Finish the org form first');
            return false;
          }
        return false;
      });

      function add_email(){
        var form_id = 'email-form';
        $.ajax({
          type:'POST',
          url:$('#'+form_id).attr('url'),
          data:$('#'+form_id).serialize() + '&id_vcard=' + JSON.stringify(vcard_id),
          dataType:'json',
          success: function(data){
            var pk = data['email_id']
            $.ajax({
              type:'GET',
              url:"{% crm_url 'email_list' %}"+pk+"/",
              success: function(data){
                $('#'+form_id).remove();
                $('#data-js-vcard-completed-objects').append(data);
                return false;
              }
            });
            return false;
          } 
        });
        return false;
      }

      function add_tel(){
        var form_id = 'tel-form';
        $.ajax({
          type:'POST',
          url:$('#'+form_id).attr('url'),
          data:$('#'+form_id).serialize() + '&id_vcard=' + JSON.stringify(vcard_id),
          dataType:'json',
          success: function(data){
            var pk = data['tel_id']
            $.ajax({
              type:'GET',
              url:"{% crm_url 'tel_list' %}"+pk+"/",
              success: function(data){
                $('#'+form_id).remove();
                $('#data-js-vcard-completed-objects').append(data);
                return false;
              }
            });
            return false;
          } 
        });
        return false;
      }

      function add_org(){
        var form_id = 'org-form';
        $.ajax({
          type:'POST',
          url:$('#'+form_id).attr('url'),
          data:$('#'+form_id).serialize() + '&id_vcard=' + JSON.stringify(vcard_id),
          dataType:'json',
          success: function(data){
            var pk = data['org_id']
            $.ajax({
              type:'GET',
              url:"{% crm_url 'org_list' %}"+pk+"/",
              success: function(data){
                $('#'+form_id).remove();
                $('#data-js-vcard-completed-objects').append(data);
                return false;
              }
            });
            return false;
          } 
        });
        return false;
      }

      function edit_email(div_id,pk){
        var update_url = $('#'+div_id).attr('update-url');
        $.ajax({
          type:'GET',
          url:update_url,
          success: function(data){
            $('#'+div_id).replaceWith(data);
            return false;
          }
        });
        return false;
      }
  </script>

{% endblock %}