{% extends "crm/base.html" %}
{% load i18n %}
{% block head_title %} {{ _("Contacts") }} {% endblock %}
{% load crm_tags %}


{% block crm_aside_tabs %}
  <a href="#" class="tabs-link" data-tip="Work on next">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--next" xlink:href="#next"></use>
      </svg>
    </figure>
  </a>
  <a href="#" class="tabs-link" data-tip="Contacted in last 7 days">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--week" xlink:href="#week"></use>
      </svg>
    </figure>
  </a>
  <a href="#" class="tabs-link" data-tip="All contacted">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--alltime" xlink:href="#alltime"></use>
      </svg>
    </figure>
  </a>
  <a href="#" class="tabs-link" data-tip="Search">
    <figure class="icon">
      <svg version="1.1">
        <use class="icon--search" xlink:href="#search"></use>
      </svg>
    </figure>
  </a>
{% endblock crm_aside_tabs %}


{% block crm_body %}
  <div class="body-column body-column--single">
  <div id="scrollable-dropdown-menu" style='margin-top:30px;'>
      <input class="typeahead" type="text" placeholder="Search Contacts" >
    </div>
    <div class="column">

      <div class="column-block">
        <div class="column-title">
          Work on next ({{contacts_cold_base.count}})</div>

        {% show_contact contacts_cold_base|first %}

        {% if contacts_cold_base.count > 1 %}
          <div class='showmore'>
            <div class='showmore-body'>
              {% for contact in contacts_cold_base|slice:"1:" %}
                {% show_contact contact %}
              {% endfor %}
            </div>

            <div class="column-block-footer">
              <a href="#" class="link-extra"
                data-toggle='showmore'
                data-text='less'
              >{{ contacts_cold_base.count|add:'-1' }} more</a>
            </div>
          </div>
        {% endif %}
      </div>


      <div class="column-block">
        <div class="column-title">
          Contacted last week ({{contacts_contacted_last_week.count}})</div>

        {% for contact in contacts_contacted_last_week|slice:":3" %}
          {% show_contact contact %}
        {% endfor %}

        {% if contacts_contacted_last_week.count > 3 %}
          <div class='showmore'>
            <div class='showmore-body'>
              {% for contact in contacts_contacted_last_week|slice:"3:" %}
                {% show_contact contact %}
              {% endfor %}
            </div>

            <div class="column-block-footer">
              <a href="#" class="link-extra"
                data-toggle='showmore'
                data-text='less'
                >{{contacts_contacted_last_week.count|add:'-3'}} more</a>
            </div>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock crm_body %}
