{% extends "crm/base.html" %}
{% load i18n crm_tags almanet_tags %}
{% load static from staticfiles %}
{% block head_title %} {{ _("Contact Create Form") }} {% endblock %}


{% block crm_aside_tabs %}
  <a href="{% crm_url 'share_list' %}" class="tabs-link" data-tip="Shared contacts">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--next" xlink:href="#next"></use>
  </svg>
</figure>

    </a>
    <a href="contacts-last.html" class="tabs-link" data-tip="Contacted in last 7 days">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--week" xlink:href="#week"></use>
  </svg>
</figure>

    </a>
    <a href="{% crm_url 'contacts_list' %}" class="tabs-link" data-tip="All contacted">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--alltime" xlink:href="#alltime"></use>
  </svg>
</figure>

    </a>
  <a href="{% crm_url 'contact-search' %}" class="tabs-link" data-tip="Search">
      <figure class="icon">
  <svg version="1.1">
    <use class="icon--search" xlink:href="#search"></use>
  </svg>
</figure>

    </a>
{% endblock crm_aside_tabs %}

{% block crm_body %}
  <div class="body-column body-column--withTabs">
    <div class="column">
      <h2>Create a contact</h2>
      <form action="" method="post" id='contact-submit-form' post-url="{% crm_url 'contact_create' %}">
        <input type="hidden" id="data-js-csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        {{vcard_form.as_p}}
        <div id='data-js-vcard-completed-objects'>

        </div>
        <div id='data-js-vcard-objects'>

        </div>
        <p>
          <a href="#" id='data-js-email-form' class="btn btn-primary" value='add' url="{% crm_url 'email_create' %}">
          + Add an email
          </a>
          <a href="#" id='data-js-tel-form' class="btn btn-primary" value='add' url="{% crm_url 'tel_create' %}">
          + Add a phone #
          </a>
          <a href="#" id='data-js-org-form' class="btn btn-primary" value='add' url="{% crm_url 'org_create' %}">
          + Add an organization #
          </a>
        </p>
        <p><button type="submit" class="btn btn-primary" value="create" id='data-js-form-submit' url="{% crm_url 'contact_create' %}">
          Create
        </button></p>
      </form>
      
    </div>
  </div>
{% endblock crm_body %}

{% block js_content %}
  <script>
    var vcard_id = 0;
      function name_fields_added(){
        if ($('#id_given_name').val()!="" && $('#id_family_name').val()!=""){
          $.post(
              $('#contact-submit-form').attr('post-url'),
              {
                data_type: 'vcard',
                csrfmiddlewaretoken: $('#data-js-csrfmiddlewaretoken').val(),
                given_name: $('#id_given_name').val(),
                family_name: $('#id_family_name').val(),
              },
              function(data){
                vcard_id = data['vcard_id'];
              }
            );
          return vcard_id;
        }
        else{
          return -1;
        }
      }

      $('#data-js-email-form').on('click', function(event){
          if ($('#id_given_name').val()=="" && $('#id_family_name').val()==""){
            alert('fill given and family names fields');
            return false;
          }
          else{
            var vcard_id = $(document).ajaxStop(name_fields_added());
            var my_url = $('#data-js-email-form').attr('url');
            $.ajax({
              type:'GET',
              url: my_url,
              success: function(data){
                var form_html = $(data).find('.add-email-form');
                $('#data-js-vcard-objects').append(form_html);
              }
            });
          }
        return false;
      });

      $('#data-js-tel-form').on('click', function(event){
          vcard_id = name_fields_added();
          var my_url = $('#data-js-tel-form').attr('url');
          $.ajax({
            type:'GET',
            url: my_url,
            success: function(data){
              var form_html = $(data).find('.add-tel-form');
              $('#data-js-vcard-objects').append(form_html);
            }
          });
        return false;
      });
      
      $('#email-form').submit(function(){
        var data_type='email'
        $.post(
          $('#data-js-org-form').attr('url'),
          {
            data_type: data_type,
            csrfmiddlewaretoken: $('#data-js-csrfmiddlewaretoken').val(),
            type: $('#id_type').val(),
            value: $('#id_value').val(),
          },
          function(data){
            $('#data-js-vcard-completed-objects').append(data);
          }
          );
        return false;
      });

      $('#contact-submit-form').submit(function() {
        var $inputs = $('#contact-submit-form :input');
        var values = {'vcard':{}, 'emails':[], 'tels':[], 'orgs':[]};
        values[$inputs[0].name]=[$inputs[0].value];
        $inputs.each(function(index, value) {
            var parent_node = $(this).parent().parent();
            var node = $(this);
            if (parent_node.attr('id') == 'contact-submit-form'){
              values['vcard'][node.attr('id')]= node.val();
            }
            else if (parent_node.attr('class') == 'add-email-form'){
              var temp = new Object();
              temp[node.attr('id')] = node.val();
              values['emails'].push(temp);
            }
            else if (parent_node.attr('class') == 'add-tel-form'){
              var temp = new Object();
              temp[node.attr('id')] = node.val();
              values['tels'].push(temp);
            }
            else if (parent_node.attr('class') == 'add-org-form'){
              var temp = new Object();
              temp[node.attr('id')] = node.val();
              values['orgs'].push(temp);
            } 
            
        });
        var new_values = JSON.stringify(values);
        alert($('#data-js-csrfmiddlewaretoken').val());
        $.post(
          $('#form').attr('url'),
            {
              csrfmiddlewaretoken:$('#data-js-csrfmiddlewaretoken').val(),
              vcard:values['vcard'],
              emails:values['emails'],
              tels:values['tels'],
              orgs:values['orgs'],
            },
            function(){
              alert('success');
          });

      return false;
      });
  </script>

{% endblock %}