{% extends "crm/base.html" %}
{% load i18n almanet_tags %}
{% block head_title %} {{ _("Contacts") }} {% endblock %}
{% load crm_tags %}


{% block crm_aside_tabs %}
  {% crm_aside_tabs_contacts 'contact-search' %}
{% endblock crm_aside_tabs %}


{% block crm_body %}
  <div class="body-column body-column--withTabs">
    <div class="column">

      <form action="" class="lineGroup lineGroup--simple">
        <div class="search">
          <input id="data-js-search" class="input-text input-text--hero" url="{% crm_url 'contact-search' %}" type="text" />
        </div>

      </form>
      <div id='data-js-filtered-contacts'>
        {% for contact in contacts %}
          {% show_contact contact %}
        {% endfor %}
      </div>

    </div>
  </div>


{% endblock crm_body %}
{% block crm_js_content %}
<script>
    $(document).ready(function(){
      $('#data-js-search').keyup(function(event){
        var self = this;
        console.log($(self).val())
        $.ajax({
          type:'GET',
          data:{'query':$(self).val()},
          url:$(this).attr('action'),
          success: function(data, status, xhr){
            var contacts_html=$(data).find('#data-js-filtered-contacts').html();
            $('#data-js-filtered-contacts').html(contacts_html);
          }
        });
      });
    })
  </script>
{% endblock %}
